blockquote {
    margin: 0;
    text-align: center;

}

blockquote p {
    padding: 3px;
    background: var(--main-background-color);
    border-radius: 3px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

figcaption {
    /* background-color: #222; */
    color: var(--main-text-color);
    font: smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.cite {
    font: italic sans-serif;
}
