.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

/* .App {
  display: flex;
}

.App>* {
  width: 50%;
}

.App>p {
  height: 10px;
}

.Dashboard {
  display: flex;
  flex-direction: column;
}

.Quote {
  width: 100%;
} */
