.dark {
  background-color: #000000;
  color: #ffffff;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  /* from coinbase! */
  color: #8A919E
}

.light {
  background-color: #ffffff;
  color: #0A0B0D;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  /* from coinbase! */
  color: #5B616E;
}
